

{% extends "base.html"%}

{% load static %}
{% block content %}

<style>
  h1{
    font-size: 80px;
    font-weight: 900;
  }

  h6{
    font-weight: 200;
    background: white;
    padding: 4px 6px;
  }

  p{
    font-size: 12px;
    color: #000;
    padding: 10px 15px;
    line-height: 14px ;
  }

  button{
    margin: 10px;
  }
</style>

<section class=" home_showcase">
  <div id="hswrapper" class="center">
    <div class="space_bismatts">
      <h1>Contact US</h1>
      <br>
      <h6>Bismatt Motors</h6>
      <hr>
      <p>Place your order today from any location Nationwide and West Africa and have it delivered to you. 🏎 @bismattautos </p>
    </div>


    <div>
        <a href="https://www.facebook.com/profile.php?id=100044946617362">
        <button style="background-color: #1111c9;color: #fff;" class="btn p-3"><i style="color: #fff;" class="fab fa-facebook"></i> Discover Bismatt Cars</button></a>
      </div>
  
      <div class="">
        <a href="https://wa.me/+2348036392760">
        <button style="background-color: #00462e;color: #fff;" class="btn"><i style="color: #fff;" class="fab fa-whatsapp"></i> Contact us via <span>Whatsapp</span></button></a>
      </div>
     

      
        <div e="background-color: #000;color: #fff;" class="">
            <h6><i style="color: #00bdfe;" class="fa fa-phone-alt"></i> 08029238105</h6>
        </div>


      <div>
        <a href="/cars">
        <button style="background-color: #000;color: #fff;" class="btn p-3"><i style="color: #00bdfe;" class="fa fa-car"></i> Discover Bismatt Cars</button></a>
      </div>

      <div>
        <a href="https://www.facebook.com/profile.php?id=100044946617362">
        <button style="background-color: #1111c9;color: #fff;" class="btn p-3"><i style="color: #fff;" class="fa fa-location"></i> 32 Cement Bus Stop Lagos, Lagos</button></a>
      </div>

      <h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1981.657526921636!2d3.317466037479211!3d6.60771759421643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91c8a37d2313%3A0x9f2bc89108a0186d!2sBismatt%20Motors!5e0!3m2!1sen!2sng!4v1688236862598!5m2!1sen!2sng" width="" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </h6>
  </div>
</section>


{% endblock %}